[submodule "ext/Peanut-GB"]
	path = ext/Peanut-GB
	url = https://github.com/deltabeard/Peanut-GB.git
[submodule "ext/Peanut-GBC"]
	path = ext/Peanut-GBC
	url = https://github.com/Project-Muteki/Peanut-GBC.git
